<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :name, "Goal:", {class: "col-sm-2 control-label"} %>
    <%= f.text_field :name, {class: "col-sm-10"} %>
  </div>
  
  <div class="form-group">
    <%= f.label :description, "Description:", {class: "col-sm-2 control-label"} %>
    <%= f.text_area :description, {class: "col-sm-10"} %>
  </div>
  
  <%= f.label :due_date, "Due:", {class: "col-sm-2 control-label"} %>
  <%= f.date_field(:due_date) %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
